@font-face {
    font-family: "Vazir";
    src: url(../fonts/Vazir.eot),
    url(../fonts/Vazir.ttf),
    url(../fonts/Vazir.woff),
    url(../fonts/Vazir.woff2);
}

*{
    font-family: "Vazir"!important;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Vazir"!important;
  
}

nav{
    background-color: #111;
    color: white;
    padding: 10px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 20px; */
}

.search{
    display: flex;
    padding: 10px 20px;
    background-color: gray;
    border-radius: 20px;
  align-items: center;
}

.search input{
    border-radius: 10px;
 outline: none;
 border: none;
 background-color: transparent;
}
input.searchInput::placeholder {
    color: lightgray;
}

.search img{
    padding-right: 10px;
}

.limitedOffer{
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid green;
    cursor: pointer;

}

.logo:hover{
    transition: all 1s ease-in-out;
    transform:rotate(45deg) ;

}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}

.menuItem{
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider{
    background:url("../image/wall.jpg");
    background-size: cover;
    /* height: 800px; */

    clip-path: polygon(0 0, 100% 0, 90% 85%, 15% 64%);
    overflow-x: hidden;

}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
   
}

.sliderItem{
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: relative;

}

.slideBG{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    z-index: -2;
  
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
}

.sliderGheymat{
    position: absolute;
    top: 31%;
    left: 30%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.kharidButton{
    border-radius: 20px;
    position: absolute;
    top: 57%;
    right: 15%;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.kharidButton:hover{
    background-color: black;
    color: white;
    transform:translateX(-30px) ;
 
}

.sliderItem:nth-child(1) .slideBG{
    background-color: yellow;
}
.sliderItem:nth-child(2) .slideBG{
    background-color: rgb(224, 85, 20);
}
.sliderItem:nth-child(3) .slideBG{
    background-color: rgb(18, 245, 86);
}
.sliderItem:nth-child(4) .slideBG{
    background-color: rgb(21, 180, 243);
}
.sliderItem:nth-child(5) .slideBG{
    background-color: rgb(235, 17, 187);
}


.sliderItem:nth-child(1) .sliderGheymat{
    color: yellow;
}
.sliderItem:nth-child(2) .sliderGheymat{
    color: rgb(224, 85, 20);
}
.sliderItem:nth-child(3) .sliderGheymat{
    color: rgb(18, 245, 86);
}
.sliderItem:nth-child(4) .sliderGheymat{
    color: rgb(21, 180, 243);
}
.sliderItem:nth-child(5) .sliderGheymat{
    color: rgb(235, 17, 187);
}


/*   feature section   */

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 100px;

}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.featureImg{
    width: 100px;
}